.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 100px;
    align-items: center;
}
.introducao h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position:relative ;
}
.introducao p {
    font-size: 15rem;
    color: #525252;
}
@media (max-width:1000px){
    .introducao h1{
        font-size: 3rem;
    }
}
@media(max-width:800px){
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin: 10px;
    }
    .introducao h1{
        font-size: 2rem;
    }
    .introducao h1::before{
        width: 200px;
        height: 10px;
        right: 0px;
    }
}
@media(max-width:449px){
    .introducao img{
        display: none;
    }
}
